body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 15px;
    font-size: 18px;
}



.header, .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 2em 10em;
    gap: 3em;
}

.Header_Logo{
    color: #f9faf8;
    font-size: 24px;
}


.intro .left{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    max-width: 500px;
}

.intro .left p{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;

}