body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 15px;
    font-size: 18px;
}



.header, .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 2em 10em;
    gap: 3em;
}

.Header_Logo{
    color: #f9faf8;
    font-size: 24px;
}


.intro .left{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    max-width: 500px;
}

.intro .left p{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;

}

.products{
    display: flex;

    justify-content: center;
    flex-grow: 0;
    flex-basis: 0;
    padding: 0px 16px;
    gap: 16px;
    padding: 2em 10em;
    gap: 4em;
}

.products p{
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.productsSectionTitle{
    text-align: center;
    margin: 0px;
    padding: 32px;
    font-size: 36px;
    font-weight: 900;

    background-color: #E5E7EB;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E7EB;
    padding: 3em 10em;
}

.quote p{

    max-width: 800px;

    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.quote div{
    display: flex;
    justify-content: right;
    font-weight: 800;
}
